<div class="wrapper">
    <div class="img-text-container">
  <div class="text-container">
  <div>
    <h2>Welcome to your personal skin type quiz</h2>
    <h3></h3>
  </div>

  <div>
    <p>Answer the following questions honestly to get to know your skin type better. In just a few clicks, we’ll analyze your answers and give you an initial assessment of your skin’s needs. Afterwards, you can do a camera-based skin analysis for even more precise insights and product recommendations.</p>
  </div>

</div>
<div class="img-box">
   <img src="assets/images/hauttype.png" alt="" loading="lazy">

</div>
</div>
<div class="wrapper_text">
  <p>Duration: about 2 minutes. Note: There are no wrong answers—your skin is unique.</p>
  <p>Let’s go! For each question, choose the answer that fits you best.</p>
</div>
<app-quiz-questions></app-quiz-questions>
</div>
