<div class="quizz-container">

  <div *ngIf="isLoading">Loading questions...</div>

  <div *ngIf="!isLoading && questions.length === 0">
    <p>No questions available.</p>
  </div>

  <div *ngIf="!isLoading && !skinType">
    <div class="question-box">
      <span class="question-text">
        {{ currentQuestionIndex + 1 }}. {{ questions[currentQuestionIndex].text }}
      </span>
    </div>

    <div class="option"
         *ngFor="let option of questions[currentQuestionIndex].options"
         [class.selected]="selectedAnswers[questions[currentQuestionIndex].key] === option"
         (click)="selectAnswer(option)">
      {{ option }}
    </div>

    <button class="btn btn-back" *ngIf="currentQuestionIndex > 0" (click)="previousQuestion()">← Back</button>
    <button
      class="btn btn-next"
      type="button"
      [disabled]="!selectedAnswers[questions[currentQuestionIndex].key]"
      (click)="isLastQuestion() ? finishQuiz() : nextQuestion()">
      {{ isLastQuestion() ? 'Finish' : 'Next Question' }} →
    </button>
  </div>

  <div *ngIf="skinType" class="results-container">
  <h2>👏 Quiz completed!</h2>

  <div class="results-content">
    <p>Based on your answers, your skin type seems to be:</p>
    <div class="skin-result">
      <h2>{{ formatSkinType(skinType) }}</h2>
      <p>{{ skinAdvice }}</p>
    </div>
  </div>

  <a routerLink="/skin-analysis" class="link-cta">
    → Start the camera skin analysis to get even more precise recommendations.
  </a>

  <button class="btn" (click)="resetQuiz()">↻ Start Again</button>
</div>

</div>
